
body {
    background-color: #c7fff1;
    padding: 0 !important;
    text-align: center;
}

header {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: white;
    height: 100px;
    width: 95%;
    margin: 1%;
    border: 2px solid rgba(255, 255, 255, 0.46);
    background-color: rgba(169, 169, 169, 0.55);
    border-radius: 5px;
}

p.categorie{
    color:white;
    text-align: center;
}

input.categorie{
    text-align: left;
}

label.categorie {
    text-align: left !important;
    color: #293e74;
}

div.categorie_header {
   text-align: center;
}

div.categorie_list{
    padding-left: 5%;
    text-align: left;
}

div.categorie {
    float:left;
    padding: 1%;
    height: 85%;
    width: 15%;
    margin: 1%;
    border: 2px solid rgba(255, 255, 255, 0.46);
    background-color: rgba(169, 169, 169, 0.55);
    border-radius: 5px;
}

a.inscription {
    position: absolute;
    right: 1%;
    bottom: 2%;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    color: #c7fff1;
}

div.page {
    float: left;
    height: 500px;
    width: 80%;
    margin: 1%;
    border: 2px solid rgba(255, 255, 255, 0.46);
    background-color: rgba(169, 169, 169, 0.55);
    border-radius: 5px;
}

div.user {
    padding: 1%;
    text-align: center;
    float: left;
    height: 500px;
    width: 10%;
    margin: 1%;
    border: 2px solid rgba(255, 255, 255, 0.46);
    background-color: rgba(169, 169, 169, 0.55);
    border-radius: 5px;
}

div.tableau {
    padding: 15px;
    width: 70%;
    float: left;
}

.button {
    width: 80%;
    text-align: center;
}

div.article {
    width: 10%;
    float: left;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.46);
}

img.object {

}

p.id {

}